html,
body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.text-center {
  text-align: center;
}

.cursor-move {
  cursor: move;
}

.cursor-none {
  cursor: none;
}

p.attribution {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.attribution a {
  color: #333;
  font-family: 'PT Sans Narrow', sans-serif;
}