body {
  background-color: #CEE7EF;
  text-align: center;
}

#triangle {
  position: relative;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}