.buttons {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.btn {
  width: 100px;
  text-align: center;
  float: left;
  color: #357385;
  border: 1px solid currentColor;
  margin-right: 5px;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
}

.btn:hover {
  color: #fff;
}

.btn:active,
.btn.active {
  color: #FFFF9C;
}